.infoMessage {
  background-color: #00a2ff15;
  border: 1px solid rgb(0, 162, 255)fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20%;
  margin-right: 8%;
}

.distDiv {
    margin: 20px;
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 10%;
  }

  .distDiv table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .distDiv th,
  .distDiv td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .distDiv th {
    background-color: #2876b1;
    color: white;
  }
  
  .distDiv tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .filterDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .filterDiv select{
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #2876b1;
    margin-right: 10px;
  }

  .distDiv label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .distDiv tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .distDiv tr{
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody::-webkit-scrollbar {
    width: 0.5em;
  }
  
  tbody::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  tbody::-webkit-scrollbar-thumb {
    background-color: #2196f3; 
    border-radius: 0.25em; 
  }

  @media screen and (max-width: 600px) {

    .distDiv {
      margin-top: 20%;
      margin-right: 8%;
    }

    .distDiv h1{
      font-size: 30px;
    }

    .distDiv table {
      width: 100%;
    }

    .distDiv th, .distDiv td {
      padding: 5px;
      font-size: 12px;
    }

    .distDiv label{
      font-size: 14px;
    }

    .distDiv tbody {
      height: 300px;
    }

    .infoMessage {
      margin-top: 30%;
    }

    .filterDiv {
      flex-direction: column;
      align-items: center;
    }

    .filterDiv select{
      width: 50%;
      margin-bottom: 10px;
    }

  }