form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 90%;
    margin-top: 20px;
  }

  label {
    font-weight: bold;
  }
 
  input[type="number"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 15%;
    font-size: 16px;
  }
 
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 80%;
    font-size: 16px;
  }

  input[type="number"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 25%;
    font-size: 16px;
  }
  
  button[type="submit"],button[type="button"] {
    background-color: #0087f5;
    margin:auto;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button[type="button"]{

    border-radius:4rem;
    font-weight: bold;
  }
  
  button[type="submit"]:hover,button[type="button"]:hover {
    background-color: #005097;
  }
  
  select {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 70%;
    margin-bottom: 15px;
  }

  .rowH{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-bottom: 15px;
    margin-left: 10%;
    
  }
  
  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    width: calc(50% - 35px);
  }

  .scrollable-container {
    height: 350px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    }

    .scrollable-container::-webkit-scrollbar {
      width: 0.5em;
    }
    
    .scrollable-container::-webkit-scrollbar-track {
      background-color: transparent; 
    }
    
    .scrollable-container::-webkit-scrollbar-thumb {
      background-color: #2196f3; 
      border-radius: 0.25em; 
    }

 .firstLabel{
    font-size: 26px;
 }

  .introDiv2{
    padding: 20px;
    margin: 10px;
    margin-left:2%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    text-align: center;
    width: 85%;
    font-family: Arial, sans-serif;
}

.buttonDiv{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}